.introducao-bg{
    background-image: url(../../imagens/categorias-img7.png);
    height: 383px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.introducao-container{
    max-width:1200px; 
    margin: 0 auto;
    padding: 100px 20px 40px 20px;
}

.introducao-conteudo p{
    font-size: 1.5rem;
    line-height: 1.3;
    text-shadow: -11px -8px 20px black;
    font-weight: 600;
}

.introducao-conteudo h1{
    font-size: 4rem;
    text-shadow: -11px -8px 20px black;
}

@media (max-width:700px){
    .introducao-conteudo p{
        font-size: 1.1rem;
    }

    .introducao-conteudo h1{
        font-size: 2rem;
    }
    
}

@media (max-width:1285px){
    .introducao-bg{
        background-image: url(../../imagens/image.png);
        height: 383px;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
 }
}